@font-face {
    font-family: 'Input Mono';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/input/regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Input Mono';
    font-style: italic;
    font-weight: normal;
    src: url(../fonts/input/italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Input Mono';
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/input/bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Input Mono';
    font-style: italic;
    font-weight: bold;
    src: url(../fonts/input/bolditalic.ttf) format('truetype');
}