@import url('./inputfont.css');
@import url('./metropolisfont.css');
@import url('./font-awesome.min.css');

/* Universal styles */
@media only screen {
    /* element rules */
    * {
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    html, body {
        margin: 0;
        padding: 0;
    }

    ul, ol {
        margin-top: 0;
    }

    a, a:hover, a:visited {
        color: #000;
        cursor: pointer;
    }

    section {
        width: 100%;
        min-height: 100vh;
    }

    footer {
        height: 2em;
        line-height: 2em;
        text-align: center;

        color: #FFF;
        background-color: #404040;
    }

    /* ID rules */
    #mobile-warning {
        display: none;
    }

    #intro {
        background-color: #FFFFFF;
    }

    #info {
        background-color: #FAFAFA;
    }

    #projects {
        background-color: #F0F0F0;
    }

    #projects table {
        width: 100%;
        height: 100%;
    }

    #projects table th, #info table td {
        padding: 4pt;
    }

    #projects table td {
        vertical-align: top;
    }

    #projects table td:nth-child(2) {
        text-indent: 2em;
    }

    /* Classes */
    .inputmono {
        font-family: 'Input Mono', 'Lucida Console', Monaco, monospace;
    }

    .metropolis {
        font-family: 'Metropolis', Arial, Helvetica, sans-serif;
    }

    .center-abs {
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform:     translateX(-50%) translateY(-50%);
        -webkit-transform:  translateX(-50%) translateY(-50%);
        transform:          translateX(-50%) translateY(-50%);
    }

    .section-nav {
        width: 100%;
        padding: 1pt;
        text-align: center;
    }

    .section-nav h3 {
        display: inline-block;
    }
}

/* Mobile devices */
@media only screen and (max-width: 900px) {
    #container {
        overflow: hidden;
    }

    #mobile-warning {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;

        background-color: #fff;
    }

    #mobile-warning-footer {
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        padding-bottom: 6pt;

        text-align: center;
    }

    section, footer {
        display: none;
    }
}

/* Tablets / small screens */
@media only screen and (min-width: 900px) {
    .project-col {
        width: 10%;
    }

    .accomp-col {
        width: 40%;
    }

    .notes-col {
        width: 50%;
    }

    td h3 {
        font-size: 1.1em;
    }
}

/* Desktops / large screens */
@media only screen and (min-width: 1200px) {
    .project-col {
        width: 15%;
    }

    .accomp-col {
        width: 50%;
    }

    .notes-col {
        width: 45%;
    }

    td.project-col a {
        margin-left: 2em;
    }
}


