@import url('./inputfont.css');

body {
    font-family: 'Input Mono', monospace;
}

@media only screen {
    * {
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    html, body {
        margin: 0;
        padding: 0;
    }
}