/* Universal styles */
@media only screen {
    html, body {
        margin: 0;
        padding: 0;

        /* There's some horizontal scrolling I don't want in Firefox
           Hope this doesn't break anything :^) */
        overflow-x: hidden;
    }

    ul, ol {
        margin-top: 0;
    }

    a, a:hover, a:visited {
        color: #000;
        cursor: pointer;
    }

    section {
        width: 100%;
        min-height: 100vh;

        box-sizing:         border-box;
        -moz-box-sizing:    border-box;
        -webkit-box-sizing: border-box;
        border-bottom: 1pt solid rgb(50, 50, 50);
    }

    footer, footer a, footer a:hover, footer a:visited {
        height: 2em;
        line-height: 2em;
        text-align: center;

        color: #FFF;
        background-color: #404040;
    }

    #info, #projects {
        padding-top: 12pt;
    }

    .project li {
        list-style-type: square;
    }

    .project h1 a {
        text-decoration: none;
    }

    /* Classes */
    .inputmono {
        font-family: 'Input Mono', 'Lucida Console', Monaco, monospace;
    }

    .metropolis {
        font-family: 'Metropolis', Arial, Helvetica, sans-serif;
    }

    .center-abs {
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform:     translateX(-50%) translateY(-50%);
        -webkit-transform:  translateX(-50%) translateY(-50%);
        transform:          translateX(-50%) translateY(-50%);
    }

    .description {
        width: 80%;
        margin: 0 auto;
    }

    .description img {
        float: left;
        max-width: 283px;
        width: 100%;

        margin-right: 12pt;
        margin-bottom: 12pt;

        border-radius: 16px;
    }

    .description p {
        text-indent: 12pt;
    }

    .project {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 12pt;
    }

    .project p, .project ul {
        line-height: 1.1em;
    }
}

@media only screen and (max-width: 900px) {
    .project li {
        width: 100%;
    }
}
