/* Universal styles */
@media only screen {
    html, body {
        margin: 0;
        padding: 0;

        /* There's some horizontal scrolling I don't want in Firefox
           Hope this doesn't break anything :^) */
        overflow-x: hidden;
    }

    ul, ol {
        margin-top: 0;
    }

    a, a:hover, a:visited {
        color: #000;
        cursor: pointer;
    }

    section {
        width: 100%;

        box-sizing:         border-box;
        -moz-box-sizing:    border-box;
        -webkit-box-sizing: border-box;
    }

    footer, footer a, footer a:hover, footer a:visited {
        height: 2em;
        line-height: 2em;
        text-align: center;

        color: #FFF;
        background-color: #404040;
    }

    #intro {
        height: 100vh;
    }

    #info, #projects {
        padding-top: 1em;
        width: 80%;
        margin: 0 auto;
    }
    
    #info p, #projects p, #projects ul li {
        line-height: 1.2em;
    }
    
    /* Manually selecting these elements is simpler than asking Showdown to
       generate a bunch of classes and wrappers. */
    
    #projects h1 {
        font-size: 2em;
    }
    
    #projects h3, #projects h4 {
        margin-left: 2em;
    }
    
    #projects p, #projects ul {
        margin-left: 4em;
    }

    /* Classes */
    .inputmono {
        font-family: 'Input Mono', 'Lucida Console', Monaco, monospace;
    }

    .metropolis {
        font-family: 'Metropolis', Arial, Helvetica, sans-serif;
    }

    .center-abs {
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform:     translateX(-50%) translateY(-50%);
        -webkit-transform:  translateX(-50%) translateY(-50%);
        transform:          translateX(-50%) translateY(-50%);
    }

    .description img {
        float: left;
        max-width: 283px;
        width: 100%;
        height: 100%;

        margin-right: 1em;
        margin-bottom: 1em;

        border-radius: 16px;
    }

    .description p {
        text-indent: 1em;
    }
}

@media only screen and (max-width: 900px) {
    #projects h1 {
        font-size: 2em;
    }
    
    #projects h3, #projects h4 {
        margin-left: 0;
    }
    
    #projects p {
        margin-left: 1em;
    }
    
    #projects ul {
        margin-left: 0;
    }
    
    #projects ul li {
        padding-left: 0;
    }
}
